$output-bourbon-deprecation-warnings: false !default; 
@import bourbon
@import fonts.sass
@import vars.sass

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.6
	font-family: "OpenSansRegular", sans-serif
	overflow-x: hidden
	color: #222


h1, h2, h3, h4, h5, h6
	font-family: "OpenSansRegular", sans-serif
	font-weight: normal

h1
	font-size: em(41)

h2
	font-size: em(31)
	font-family: "OpenSansLight", sans-serif

h3, h4
	font-family: "OpenSansRegular", sans-serif
	text-transform: uppercase
	font-size: em(17px)

h4
	font-size: em(15px)
a
	outline: none !important

.hidden
	display: none

.main-head
	overflow: hidden
	background-image: url(../img/bg_top1.jpg)
	background-size: cover
	background-position: top center
	min-height: 100vh
	overflow: hidden

.mnu-line
	padding-top: 25px

.logo
	display: block
	width: 120px
	margin: 0
	position: relative
	left: 30px
	img
		width: 100%

nav
	ul
		list-style-type: none
		padding: 0
		margin: 0
	li
		display: inline-block

.main-mnu
	text-align: center
	font-size: em(14px)
	>ul
		>li
			>a
				display: block
				padding: 15px 20px
				color: #8a959a
				+mt(.5s)
				&:hover
					color: #6a797f	
			&.active
				a
					color: #6a797f
					text-decoration: underline

.mail-phone
	text-align: right
	.email-wrap
		color: #6a797f
		font-family: "OpenSansSemiBold", sans-serif
		font-size: em(16px)
		letter-spasing: 2px
		.fa
			font-size: em(20px)
	.phone-wrap-first, .phone-wrap-second
		color: #6a797f
		font-family: "OpenSansSemiBold", sans-serif
		font-size: em(20px)
		letter-spasing: 2px
		line-height: 1.9
		.fa
			font-size: em(22px)
			vertical-align: middle

//.social-line

.social-wrap
	color: #6a797f
	font-family: "Exo2Bold", sans-serif
	font-size: em(25px)
	text-align: right
	a
		color: #6a797f
		+mt(.2s)
		&:hover
			color: $accent

.header-content
	padding: 2% 0
	text-align: center
	h1
		position: relative
		left: -3%
		color: #687479
		margin: 5% 0 3%
	h2
		position: relative
		left: -5%
		display: inline-block
		color: $text
		font-family: "OpenSansLight", sans-serif
		margin: 0
		letter-spacing: -1.5px
		line-height: 1.2
	.dif-title
		position: relative
		left: -3%
		font-size: em(31px)
		color: #687479
		margin-top: 3%
	.button
		margin-top: 40px
		
.button
	display: inline-block
	border: none
	background-color: $btn
	color: #3f2828
	font-family: "OpenSansSemiBold", sans-serif
	font-size: em(13px)
	letter-spacing: 0.7px
	text-transform: uppercase
	padding: 12px 7px
	border-radius: 1px
	box-shadow: 0 4px 0 #a6ad36
	+mt(.25s)
	&:hover, &:focus
		color: #fff
		text-decoration: none
	&:hover
		background-color: #e2d760
	&:active
		background-color: #a6ad36
		transform: translateY(3px)

.responsive-img
	max-width: 100%
	
.top-img-wrap	
	padding: 10% 0 0 0
	position: relative
	left: 50px


// Mouse animate icon
.mw-wraper
	text-align: center
	padding-top: 4%

.mouse-icon
  border: 2px solid #fff
  border-radius: 16px
  height: 40px
  width: 24px
  display: inline-block
  z-index: 10
  opacity: 0.7
  &:hover
		cursor: pointer
  .wheel
    -webkit-animation-name: drop
    -webkit-animation-duration: 1s
    -webkit-animation-timing-function: linear
    -webkit-animation-delay: 0s
    -webkit-animation-iteration-count: infinite
    -webkit-animation-play-state: running
    -webkit-animation-name: drop
    animation-name: drop
    -webkit-animation-duration: 1s
    animation-duration: 1s
    -webkit-animation-timing-function: linear
    animation-timing-function: linear
    -webkit-animation-delay: 0s
    animation-delay: 0s
    -webkit-animation-iteration-count: infinite
    animation-iteration-count: infinite
    -webkit-animation-play-state: running
    animation-play-state: running
    position: relative
    border-radius: 10px
    background: #fff
    width: 2px
    height: 6px
    top: 4px
    margin-left: auto
    margin-right: auto

@-webkit-keyframes drop
  0%
    top: 5px
    opacity: 0

  30%
    top: 10px
    opacity: 1

  100%
    top: 25px
    opacity: 0


@keyframes drop
  0%
    top: 5px
    opacity: 0

  30%
    top: 10px
    opacity: 1

  100%
    top: 25px
    opacity: 0

// Menu icon for mobile

.toggle-mnu 
  display: block
  width: 28px
  height: 28px
  margin-top: 14px

  span:after, span:before 
    content: ""
    position: absolute
    left: 0
    top: 9px

  span:after
    top: 18px

  span 
    position: relative
    display: block

  span, span:after, span:before
    width: 100%
    height: 2px
    background-color: #6a797f
    transition: all 0.3s
    backface-visibility: hidden
    border-radius: 2px


  &.on span 
    background-color: transparent

  &.on span:before 
    transform: rotate(45deg) translate(-1px, 0px)

  &.on span:after 
    transform: rotate(-45deg) translate(6px, -7px)

.toggle-mnu
	position: absolute
	top: 45px
	right: 15px

.hidden-mnu
	background-color: $bg_durk
	display: none
	position: relative
	top: 20px
	li
		display: block
	>ul
		padding: 10px 0
		>li
			&.active
				a
					text-decoration: underline
					color: #d9ce3d
			>a
				color: #bec3c5
				&:hover
					color: #fff
					background-color: $accent
					text-decoration: none
.s-wide
	padding: 50px 0

.s-dark
	background-color: $bg_durk
	color: #fff

.s-adv
	padding: 30px 0 0px

.s-adv-item
	font-size: 15px
	font-family: "OpenSansLight", sans-serif
	color: #faf5f5
	line-height: 22px
	margin-bottom: 30px
	h3
		margin: 0
		font-size: 23px
		color: #d1c6c6
		text-transform: lowercase
		font-family: "Exo2Bold",sans-serif
	span
		font-size: 20px
		color: #dbce41
		text-transform: lowercase
		font-family: "Exo2Bold",sans-serif
	p
		margin: 15px 0 0 0

//emulation table
.table 
	display: table
	width: 100%
	.tr
		display: table-row
	.td
		display: table-cell
		vertical-align: middle