@import bourbon
@import vars.sass

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

//Custom Styles Here
.s-gray
	background-color: #f6f4f4
.work-steps-img-wrap
	display: block
	min-height: 200px
	border: 4px solid #dbce41
	background-size: cover
	background-position-x : 50%;
	background-position-y : 50%;
	img
		width: 100%
		display: block

.seccond-wrap
	margin-top: 6px
	min-height: 300px
	background-size: cover

.about-us
	background-color: #d5d1d1
	min-height: 506px
	h2
		text-align: center
		margin: 0
		color: $text
	p
		text-align: justify
		padding: 9px 17px 
		margin: 0
		color: $text
		text-indent: 20px


//ALWAYS END
@import media

//Load Libs SASS
@import app/libs/animate/animate.sass
@import app/libs/font-awesome/css/font-awesome.sass

